[Desktop Entry]
Name=VS42
Comment=Code Editing with Custom User Data Directory.
GenericName=Text Editor
Exec=/usr/share/code/code --user-data-dir="/home/ahmbasar/sgoinfre/vscode-data" %F
Icon=vscode
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/share/code/code --user-data-dir="/home/ahmbasar/sgoinfre/vscode-data" --new-window %F
Icon=vscode
